@model Krab.Web.Models.Identity.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<script src="../../Scripts/app/controller/redditAuthCtrl.js"></script>

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div ng-controller="RedditAuthController">
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        <dt>Reddit Account:</dt>
        <dd>
            [
            @if (Model.HasRedditUser)
            {
                <a ng-click="unlinkRedditAccount()" style="cursor: pointer" ng-if="!isUnlinkComplete">Unlink</a>
                <a ng-click="linkRedditAccount()" style="cursor: pointer" ng-if="isUnlinkComplete">Link</a>
                <i class="fa fa-spinner fa-spin" ng-if="isLoading"></i>
            }
            else
            {
                <a ng-click="linkRedditAccount()" style="cursor: pointer">Link</a>
                <i class="fa fa-spinner fa-spin" ng-if="isLoading"></i>
            }
            ]
        </dd>
    </dl>
</div>