<script src="../../Scripts/aspUser.js"></script>
}

<div class="container">
    <div ng-app="myApp" class="row">

        <div ng-controller="KRController">

            <table class="table">
                <tr>
                    <th>Keyword {{keyword}}</th>
                    <th>Response {{ponse}}</th>
                </tr>
                <tr ng-repeat="a in krSets">
                    <td>{{a.keyword}}</td>
                    <td>{{a.response}}</td>
                </tr>

            </table>
        </div>
    </div>
</div>