<script src="../../Scripts/app/myApp.js"></script>


<div class="container">
    <div ng-app="myApp" class="row">
        <br />      

        <div ng-controller="KRController">

            <div ng-if="isRedditUserNameLoading || isKrSetsLoading">
                <i class="fa fa-spinner fa-spin fa-4x" style="padding-top:10px"></i>
            </div>
            
            <div ng-if="!isRedditUserNameLoading && !isKrSetsLoading">
                <div id="header" ng-if="!needsRedditAccount">

                    <div class="font">{{redditUserName}}</div>
                    <br />
                    <div class="btn-group">
                        <nav role="navigation" class="navbar navbar-inverse">
                            <ul class="nav navbar-nav">
                                <li><a href="#Add">Add a Keyword Response Set</a></li>
                                <li><a href="#Edit">Edit a Keyword Response Set</a></li>
                                <li><a href="#Delete">Delete a Keyword Response Set</a></li>
                            </ul>
                        </nav>
                    </div>

                    <div ng-view></div>
                    <br />
                    <div ui-grid="gridOptions" class="myGrid">
                    </div>
                </div>

                <div class="myText">
                <a ng-if="needsRedditAccount" href="../Manage/">
                    <br />
                    Click here to link a Reddit account.
                    <i class="fa fa-reddit fa-5x"></i> 
                    <br />
                </a>
                </div>
            </div>
        </div>
    </div>
</div>

