<script src="../../Scripts/app/myApp.js"></script>

<div class="container">
    <div ng-app="myApp" class="row">
        <div ng-controller="KRController">
            <div ng-if="isRedditUserNameLoading || isKrSetsLoading">
                <i class="fa fa-spinner fa-spin fa-4x" style="padding-top:10px"></i>
            </div>
            

            <div ng-if="!isRedditUserNameLoading && !isKrSetsLoading">
                <div id="header" ng-if="!needsRedditAccount">{{redditUserName}}
                    <br />
                    <br />
                    <div ui-grid="gridOptions" class="myGrid">
                    </div>
                </div>

                <div class="myText">
                <a ng-if="needsRedditAccount" href="../Manage/">
                    <br />
                    Click here to link a Reddit account.
                    <i class="fa fa-reddit fa-5x"></i> 
                    <br />
                </a>
                </div>
                </div>

        </div>
    </div>
</div>
