@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<br/>
<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 text-center">
    <p>
        Please check your email to reset your password.
    </p>
</div>
	
