@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="centered">
    <div class="row">
        <h3 class="fa fa-reddit fa-2x">Welcome to KRAB!</h3>
    </div>
    <hr/>
    <div class="row">
        <p>
            Keyword Response Auto-Bot (KRAB for short) is a configurable automated Reddit bot.
        </p>
        <p>
            Keywords are case insenstive phrases used to search for comments with matching text to automatically repsond to.
        </p>
        <p>
            KRAB continuously polls Reddit for your desired keywords within designated subreddits to save time and resources.
        </p>
        <p>
            Once you set up your desired keywords and responses, just sit back and relax.
        </p>
        <hr/>
        <p>
            Currently, KRAB offers the following features:
        </p>
        <ul style="display: table; text-align: left; margin: 0 auto;">
            <li>
                Link your Reddit account to your KRAB account.
            </li>
            <li>
                Manage up to 10 keyword-response sets.
            </li>
            <li>
                Activate and pause your keyword-response sets.
            </li>
            <li>
                Target up to 5 subreddits for each keyword-response set.
            </li>
            <li>
                Generate reports to see how your keyword-response sets are performing.
            </li>
        </ul>
    </div>
</div>