<h3 class="text-center"> Add a Keyword Response Set</h3>
<br/>
<div class="row" ng-controller="KRController">
    <div class="col-md-6 col-md-offset-3">
        <form class="form">
            <div class="form-group">
                <label for="inputEmail">Keyword</label>
                <input type="text" ng-model="keyword" class="form-control input-lg" placeholder="Length must be 5 - 50 characters" />
            </div>
            <div class="form-group">
                <label for="inputPassword">Response</label>
                <input type="text" ng-model="response" class="form-control input-lg" placeholder="Length must be 1 - 1000 characters" />
            </div>
            <div class="form-group">
                <label for="inputEmail">Status</label>
                <input type="text" ng-model="statusId" class="form-control input-lg" placeholder="1 for Active, 2 for Paused" />
            </div>

            <button ng-click="addKrSet()" class="text-center btn-info form-control input-lg">Save</button>
        </form>
    </div>


   <!-- <div ng-view>

    </div>

    <br />
    <div ui-grid="gridOptions" class="myGrid">
    </div>-->

</div>