<div class="row" ng-controller="KRController">
    <br />
    <div class="row pad-left-20">
        <div class="col-md-4">
            <label>Keyword: </label>
            <input type="text" ng-model="keyword" class="long-input" placeholder="Length must be 5 - 50 characters" />
        </div>
        <div class="col-md-4">
            <label>Response: </label>
            <input type="text" ng-model="response" class="long-input" placeholder="Length must be 1 - 1000 characters" />
        </div>
        <div class="col-md-4">
            <label>Status:</label>
            <input type="text" ng-model="statusId" class="long-input" placeholder="1 for Active, 2 for Paused" />
        </div>
    </div>
    <br />
    <div class="row pad-left-20">
        <div class="col-md-4">
            <button ng-click="addKrSet()" class="text-center btn btn-primary">Save</button>
            <button ng-click="goHome()" class="text-center btn btn-info">Cancel</button>
        </div>
    </div>
</div>