<div ng-controller="editKrController">
    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
            <div style="padding-top:20px;">
                <label>Keyword:</label>
                <input ng-model="keyword" class="long-input" />
            </div>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
            <div style="padding-top:20px;">
                <label>Response:</label>
                <input ng-model="response" class="long-input" />
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <div style="padding-top:20px;">
                <label>Status:</label>
                <select ng-model="selectedStatus"
                        ng-selected="status.id"
                        ng-options="status as status.label for status in statuses"></select>
            </div>
        </div>
    </div>
    <div class="row" style="padding-top:10px">
        <div class="col-md-12">
            <button ng-click="UpdateKrSet()" class="text-center btn btn-primary" ng-if="!isSaving">Save</button>
            <button ng-click="UpdateKrSet()" class="text-center btn btn-primary disabled" ng-if="isSaving">Save</button>
            <button ng-click="goHome()" class="text-center btn btn-info">Cancel</button>
            <i class="fa fa-spinner fa-spin" ng-if="isSaving"></i>
            <label class="pad-left-20 has-error" ng-if="hasError">Error udpating keyword-response set.</label>
        </div>
    </div>
</div>
<br />