<h3 class="text-center"> Edit a Keyword Response Set</h3>
<br />
<div class="row" ng-controller="KRController">
    <div class="col-md-3 col-md-offset-1">
        <h3 class="text-danger">Select KRSet</h3>
        <hr />
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                {{selectedSet}}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li ng-repeat="a in krSets">
                    <a ng-click="dropboxitemselected(a)">{{a.keyword}}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-7">
        <form ng-show="isDeletedSetVisible">
            <div class="form-group">
                <label for="inputEmail">Keyword</label>
                <input type="text" ng-model="keyword" class="form-control input-lg" placeholder="Length must be 5 - 50 characters" />
            </div>
            <div class="form-group">
                <label for="inputPassword">Response</label>
                <input type="text" ng-model="response" class="form-control input-lg" placeholder="Length must be 1 - 1000 characters" />
            </div>
            <div class="form-group">
                <label for="inputEmail">Status</label>
                <input type="text" ng-model="statusId" class="form-control input-lg" placeholder="1 for Active, 2 for Paused" />
            </div>

            <button ng-click="UpdateKrSet()" class="btn btn-warning form-control input-lg">Update</button>            
        </form>
    </div>
</div>
