<div ng-controller="manageSubredditsController">
    <div class="modal-header centered">
        <h3 class="modal-title" id="modal-title">{{keyword}}</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <div ng-show="!isLoading">
            <div class="row centered">
                <label>/r/</label>
                <input ng-model="subredditNames[0]" class="long-input" />
            </div>
            <div class="row centered pad-top-20">
                <label>/r/</label>
                <input ng-model="subredditNames[1]" class="long-input" />
            </div>
            <div class="row centered pad-top-20">
                <label>/r/</label>
                <input ng-model="subredditNames[2]" class="long-input" />
            </div>
            <div class="row centered pad-top-20">
                <label>/r/</label>
                <input ng-model="subredditNames[3]" class="long-input" />
            </div>
            <div class="row centered pad-top-20">
                <label>/r/</label>
                <input ng-model="subredditNames[4]" class="long-input" />
            </div>
            <div class="row centered pad-top-20" ng-show="hasError">
                <label class="has-error">{{errorMsg}}</label>
            </div>
        </div>
        <div ng-show="isLoading" class="centered">
            <i class="fa fa-spinner fa-spin fa-2x"></i>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="save()" ng-show="!isLoading">Save</button>
        <button class="btn btn-primary disabled" type="button" ng-show="isLoading">Save</button>
        <button class="btn btn-info" type="button" ng-click="cancel()">Cancel</button>
    </div>
</div>