.myGrid {
    width: 1200px; 
    height: 500px;
    }
.header-filtered {
    color: blue;
}
.center-aligned{
    text-align: center;
}
.font{
    font-family: inherit;
    font-size: 20px;
}
.form { 
    margin: 0 auto; 
    width:250px;
}
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #000000;
}